 /* style 내에서의 주석은 ctrl + /로 만들 수 있음 */

 li.list-item { 
    /* class 선택자 */
    color: blueviolet;
    font-size: 20px;
}
#description {
    /* id 선택자 */
    background-color: aquamarine;
}
h2 {
    /* 요소 선택자 */
    color : cadetblue;
}

ul li {
    background-color: blue;
    color: aquamarine;            
}